
<h1>{{ config("Energielabel.yourText") }}</h1>
<p>Heyoho</p>
{% set effizienzLabelWerte = ['A+++', 'A++', 'A+', 'A', 'B', 'C', 'D', 'E', 'F', 'G'] %}
{% set effizienzLabelFarben = ['#009136','#58A927','#C8D000','#FCEA00','#F9B900','#EA690B','#E3001B'] %}
{% set energieEffizienz = "" %}
{% set hoechsteEffizienz = "" %}
{% set wertIndex = 0 %}
{% set hoechsteEffizienzIndex = 0 %}
{% for prop in item.documents[0].data.properties %}
    {% if prop.group.names.propertyGroupId == "60" %}
        {# 492, 493, 494, 495, 496 #}
        {% if prop.property.id in [406, 407, 482, 487, 488] %}
           {# {{ prop.property.names.name }}:  {{ prop.texts.value }} #}
           {{ prop.texts.value }}
           {% set energieEffizienz = prop.texts.value %}
        {% endif %}
        {% if prop.property.id in [492, 493, 494, 495, 496] %}
            {{ prop.texts.value }}
            {% set hoechsteEffizienz = prop.texts.value %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if energieEffizienz is not empty and hoechsteEffizienz is not empty %}
    {% for wert in effizienzLabelWerte %}
        {% if wert == energieEffizienz %}
            {% set wertIndex = loop.index %}
        {% else %}
            {% set hoechsteEffizienzIndex = loop.index %}
        {% endif %}
    {% endfor %}
    {% set farbenIndex = wertIndex - hoechsteEffizienzIndex %}
    {% set effizienzLabelEinzelfarbe = effizienzLabelFarben[farbenIndex] %}
    {{ farbenIndex }}
    {{ effizienzLabelEinzelfarbe }}
    {{ hoechsteEffizienz }} : {{ energieEffizienz }}
{% endif %}
